div {
 border: 0px solid black;
}

span {
  line-height: 3rem;
  border: 0px solid;
  /*word-wrap:normal;*/
  margin-left: 0;
  display:inline-block;
  cursor: pointer;
}

.numberContainer {
  width: fit-content;
  block-size: fit-content;
  color: red;
  background-color: aquamarine;
}

#container {
  text-align: center;

}

#game-field {
  word-wrap:break-word;
  padding-top: 3rem;
  margin: auto;
  width: 40vw;
  height: 50vh;
  border: 0px solid black;
}

body{
  font-size: 20pt;
}

#info {
  float: left;
}


.clicked-num {
  filter: drop-shadow(0 0 0.2rem #c7bcc2);
  color: rgb(202, 202, 202) !important;

}
