div {
 border: 0px solid black;
}


.num-div {
  line-height: 4.5rem;
  width:fit-content;
  height: fit-content;
  border: 0px solid;
  margin-left: 0;
  margin-right: 2px;
  display:inline-block;
  cursor: pointer;
}


#container {
  text-align: center;
}

#game-field {
  position: relative;
  word-wrap:break-word;
  padding-top: 3rem;
  margin: auto;
  width: 30vw;
  height: 50vh;
  border: 0px solid black;
  z-index: 1 ;
  /* filter: blur(5px); */
}

#win-window {
  visibility: hidden;
  position:absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  left: 0;
  right: 0; 
  text-align: center;
  width: 300px;
  height: 150px;
  z-index: 5;
  background-color: gray ;
 
}




body{
  font-size: 20pt;
}

#info {
  float: left;
}


.clicked-num {
  filter: drop-shadow(0 0 0.2rem #c7bcc2);
  color: rgb(202, 202, 202) !important;

}

.pop {
  animation: hint 1s;
}

@keyframes hint {
  0% { transform: scale(1) }
 
  50% { transform: scale(2) }
  
  100% { transform: scale(1)}
}

@keyframes shakeNoRotate {
  0% { transform: translate(1px, 1px) var(--rotation); }
  10% { transform: translate(-1px, -2px) var(--rotation);}
  20% { transform: translate(-3px, 0px) var(--rotation); }
  30% { transform: translate(3px, 2px) var(--rotation); }
  40% { transform: translate(1px, -1px) var(--rotation); }
  50% { transform: translate(-1px, 2px) var(--rotation); }
  60% { transform: translate(-3px, 1px) var(--rotation); }
  70% { transform: translate(3px, 1px) var(--rotation); }
  80% { transform: translate(-1px, -1px) var(--rotation); }
  90% { transform: translate(1px, 2px) var(--rotation); }
  100% { transform: translate(1px, -2px)var(--rotation); }
}

@keyframes winPopUp {
    0%{
      transform: scale(0.3);
    }
    50%{
      transform: scale(1.4);
    }
    100%{
      transform: scale(1);
    }
}